# Mark Unity asset files as generated so Linguist ignores them
*.asset linguist-generated=true
*.prefab linguist-generated=true
*.mat linguist-generated=true
*.unity linguist-generated=true
*.meta linguist-generated=true
*/Assets/TextMesh?Pro/** linguist-generated
